# Environnement
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Données brutes (trop volumineuses pour git)
data/
*.csv
*.xlsx
*.xls
*.geojson
*.shp
*.shx
*.dbf
*.prj
*.cpg

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Logs
*.log

# Dagster
dagster_home/
